@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome @HttpContext.Current.User.Identity.Name</h1>

@{
    if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Member", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }
}