@{
    ViewBag.Title = "首頁";
}

@{
    if (Request.IsAuthenticated)
    {
        <h1>Welcome @HttpContext.Current.User.Identity.Name</h1>

        using (Html.BeginForm("Logout", "Member", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()"><h2>登出</h2></a>
        }
    }
    else
    {
        <h1>IsNotAuthenticated 尚未登入</h1>
    }
}